@model TransferViewModel

@{
    ViewData["Title"] = "Transfer";
}

<h1>Transfer</h1>

<form asp-controller="Transfer" asp-action="Transfer" method="post">
    
    <div class="form-group">
        <label asp-for="AccountNumber"></label>
        <select asp-for="AccountNumber">
            @foreach (Account account in Model.Accounts)
            {
                <option value="@account.AccountNumber">@account.AccountNumber</option>
            }
        </select>
        <span asp-validation-for="AccountNumber" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="DestinationAccountNumber"></label>
        <input asp-for="DestinationAccountNumber" class="form-control" required />
        <span asp-validation-for="DestinationAccountNumber" class="text-danger"></span>

    </div>


    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Comment"></label>
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>




    <div class="form-group">
        <input type="submit" value="Transfer" class="button" />
        @Html.ValidationMessage("TransferFailed", new { @class = "text-danger" })
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}