@model DepositViewModel

@{
    ViewData["Title"] = "Deposit";
}

<h1>Deposit</h1>
<form asp-controller="Deposit" asp-action="Deposit" method="post">
    @{
        await Html.RenderPartialAsync("_DepositWithdrawForm");
    }


    <div class="form-group">
        <input type="submit" value="Deposit" class="button" />
    </div>

</form>

 @section Scripts {
     @{
         await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
 }
