@{
    ViewData["Title"] = "Home Page";
}


<div class="home">
    <div class="content">
        <h1>Welcome</h1>
        <p>Most Common Bank of Australia(MCBA) was established in 1924 and is one of the most trusted banks of Australia. 
           We have multiple locations all across Australia. You can trust us for all your banking needs. Our friendly staff will aid you in any of your banking 
           needs at one of our many locations or you can use this online portal. 
        </p>

        <span>Celebrating 100 years of helping Australians.</span>
         
    </div>
    <div class="image">

    </div>
</div>

@section PageCss {
    <link rel="stylesheet" href="~/css/Home.css">
}

